#####################
# Node.js NPM modules
######################
node_modules

#####################
# JetBrains
#####################
.idea

#####################
# Compiled bundle
#####################
build.js